.footer
   text-align: center
   width: 100%
   // position: fixed
   bottom: 0
   left: 0
   padding: 20px
   color: #EEE
   background: #333
   border-top: 1.5px solid $color2
   a
      @extend %button-reset
      color: #FFF
      font-weight: bold
      letter-spacing: 0.2em
// body
   margin-bottom: 67px
